NODE_ENV=development
PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_rdwD4KVY8jTI@ep-old-dew-aytb7krt-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=super_secret_access_key_change_in_production
JWT_REFRESH_SECRET=super_secret_refresh_key_change_in_production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=debug
